.app {
    height: 200px;
    width: 100%;
    background-color: #384454;
    padding-top: 50px;
}

.app button {
    margin-top: 5px;
}

.task-list {
    height: 400px;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding : 40px 100px;
}